@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;700;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");

html{
    scroll-behavior: smooth;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #e69500;
    text-align: center;
    z-index: 900;
    display: grid;
    place-items: center;
}

#loadimg {
    height: 150px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(360deg);
    animation: spin 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s infinite;
    /* animation: spin 1s linear 0s infinite; */
}

@keyframes spin {
    0% {transform: translate(-50%, -50%) rotate(360deg);}
    100% {transform: translate(-50%, -50%) rotate(0deg);}
}

#textLoadingPage {
    position: absolute;
    bottom: 50px;
    font-size: 18px;
    color: white;
    opacity: 0;
    animation: fade-in 1s 10s 1 forwards;
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
/* selector */
::selection {
    color: #2B6777;
    background: #e69500;
  }

/* background */

/* .container {
    min-height: 100%;
    padding-bottom: 360px;
} */

body {
    font-family: 'Jost', sans-serif;
    letter-spacing: normal;
    background-color: #F9F9F9;
    /* height: 100%; */
}

h1, h2, h3, h4, h5, h6 {
    text-transform: none;
    letter-spacing: 0px;
}

/* Header */
h1 {
    font-family: 'Jost', sans-serif;
    font-size: 36px;
    font-weight: normal;
    color: #EC791C;
    margin-bottom: 15px;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    /* line-height: 29px; */
    color: #003F5A;
}


.pageheader {
    margin-top: 140px;
}

.background {
    background-image: url('../asset/Swoosh_2.svg'), url('../asset/illustration.png'), url('../asset/Swoosh_1.svg');
    background-size: 50rem, 47rem, 70rem;
    background-position: 0 35vh, right 60px, right 180vh;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
/* comingsoon */
.backgroundComingSoon {
    background-image: url('../asset/Swoosh_2.svg'), url('../asset/comingSoon/coming_soon_illus.png'), url('../asset/comingSoon/planner.svg'), url('../asset/comingSoon/speak.svg');
    background-size: 50rem, 36rem, 12rem, 11rem;
    background-position: 0 -5vh, right top, 42vw 49vh, 2.5vw 45vh;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    /* min-width: 768px; */
    overflow: hidden;
} 

.backgroundAboutUs {
    background-image: url('../asset/Swoosh_2.svg'), url('../asset/Logo_White_Emboss.svg'), url('../asset/Swoosh_1.svg');
    background-size: 50rem, 34rem, 70rem;
    background-position: -8vw -3vh, 53vw 16vh, right 180vh;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.backgroundKonveksi {
    background-image: url('../asset/Swoosh_2.svg'), url('../asset/KonveksiPutih.svg'), url('../asset/Swoosh_1.svg');
    background-size: 43rem, 29rem, 60rem;
    background-position: 0 27vh, 53vw 12vh, right 135vh;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.backgroundCatering {
    background-image: url('../asset/Swoosh_2.svg'), url('../asset/CateringPutih.svg'), url('../asset/Swoosh_1.svg');
    background-size: 43rem, 29rem, 60rem;
    background-position: 0 27vh, 53vw 12vh, right 135vh;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.backgroundLogistics {
    background-image: url('../asset/Swoosh_2.svg'), url('../asset/LogisticPutih.svg'), url('../asset/Swoosh_1.svg');
    background-size: 43rem, 29rem, 60rem;
    background-position: 0 27vh, 53vw 12vh, right 135vh;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.backgroundLaundry {
    background-image: url('../asset/Swoosh_2.svg'), url('../asset/LaundryPutih.svg'), url('../asset/Swoosh_1.svg');
    background-size: 43rem, 29rem, 60rem;
    background-position: 0 27vh, 53vw 12vh, right 135vh;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.backgroundSouvenir {
    background-image: url('../asset/Swoosh_2.svg'), url('../asset/SouvenirPutih.svg'), url('../asset/Swoosh_1.svg');
    background-size: 43rem, 29rem, 60rem;
    background-position: 0 27vh, 53vw 12vh, right 135vh;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.footer {
    background-color: #FCC14D;
    background-image: url('../asset/footer_back_left.svg'), url('../asset/footer_back_right.svg');
    background-size: 200px, auto 100%;
    background-position: 0 0, right;
    background-repeat: no-repeat, no-repeat;
    min-height: 80px;
    color: white !important;
    /* clear: both;
    position: relative;
    height: 360px;
    margin-top: -360px; */
}

.footer * .col-md {
    padding: 60px;
}

.footer h1 {
    color: white;
}

.footer p {
    color: white;
    margin-bottom: 5px;
}

.footer a {
    margin-bottom: -15px;
}

.footer i {
    color: white;
    padding-left: 15px;
}

.footer a:hover p,
.footer a:hover i{
    color: #003F5A;
}

.ptclick {
    padding: 0;
}

.ptclick p {
    margin-left: 15px;
}

.background404 {
    background-color: #FCC14D;
    background-image: url('../asset/Swoosh_2.svg'),  url('../asset/Swoosh_1.svg'), url('../asset/lost_1.svg');
    background-size: 43rem, 29rem, 13rem;
    background-position: 0 27vh, 110vh 17vh, 150vh 28vh;
    background-repeat: no-repeat, no-repeat, no-repeat;
}


/* .backlinkcolor{
  background-color: #FCC14D;
} */

.backcopcolor {
    background-color: #EC791C;
    color: white;
    /* position: absolute;
    bottom: 0; */
    width: 100%;
}


/* scrollbar */

/* width */

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}


/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #e69500;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #EC791C;
}

/* general style */

.margin-up {
    margin-top: 20vh;
}

.margin-up2 {
    margin-top: 30vh;
}

/* Navbar */

.navi {
	z-index: inherit;
}

nav {
	/* height: 8px; */
	position: sticky;
	top: 0 ;
	z-index: 100;
	background: #F7F7F7;
	box-shadow: 0px 15px 25px rgba(173, 197, 221, 0.25);
}

nav {
    height: 60px;
    background: #F7F7F7;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
}


.rotate {
	transform: rotate(180deg);
	/* background-color: blue; */
}

.nav-links {
    height: inherit;
	display: flex;
	list-style: none;
	justify-content: flex-end;
    align-items: center;
}
.navi a:hover {
	box-shadow: inset 5px 5px 10px rgba(173, 197, 221, 0.5), inset -5px -5px 10px rgba(255, 255, 255, 0.25);
	border-radius: 30px;
	transition: 150ms ease-in;
}

.navi a {
	color: #4D6782;
    font-size: 18px;
    left: 40px;
    padding: 5px 15px;
    text-decoration: none;
    font-weight: 500;
}

.navi .col, .navi .row {
	height: inherit;
}

.logo_pc {
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


.home_mobile {
	display: none;
}

.logo_mobile {
	position: absolute;
	cursor: pointer;
	left: 50%;
	top: 50%;
	transform : translate(-50%, -50%);
	z-index:200;
}

.logo_mobile {display: none;}
.hamburger{display: none;}

@media screen and (max-width: 768px){

}

/* footer */
footer {
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.narasiFooter{
    padding-left: 3rem;
    padding-right: 1rem;
}
.narasiFooter>h1 {
    font-family: 'Jost', sans-serif;
    color: white;
    font-size: 48px;
}
.narasiFooter>p {
    color: white;
    font-size: 13px;
}

.narasiFooterKanan{
    padding-left: 3rem;
    padding-right: 1rem;
}
.narasiFooterKanan>h1 {
    font-family: 'Jost', sans-serif;
    text-transform: none;
    color: white;
    font-size: 40px;
}
.narasiFooterKanan>p {
    color: white;
    font-size: 13px;
}


.vl {
    border-left: 1.5px solid white;
    height: inherit;
    margin: 40px 0;
}

.footBox{
    max-width: 97vw;
}

.link>h5 {
    font-size: 15px;
    color: white;
    text-transform: none;
}

.link>ul>li>a {
    font-size: 13px;
    color: white;
    transition: 0.2s;
}

.link>ul>li>a:hover {
    border-bottom: 2px solid white;
}

.navs1 {
    box-shadow: -10px -10px 40px #FFFFFF, 15px 15px 40px rgba(0, 0, 0, 0.1);
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    /* identical to box height */
    text-align: center;
    height: 70px;
    background-color: #f9f9f9;
}

.navbar-toggler {
    border: none;
}

#navId{
    top: 0px;
    transition: top 0.3s;
}

.navbar-light .navbar-nav .nav-link {
    color: #EC791C;
}
.navbar-light .navbar-nav .show > .nav-link{
    color: #EC791C;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #245E6F;
}

.navbar-nav .nav-link {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.navActive {
    background-color: #F9F9F9;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1), -20px -20px 50px #FFFFFF, inset 5px 5px 15px rgba(0, 0, 0, 0.05);
    border-radius: 22.5px;
    padding-top: 0;
    padding-bottom: 0;
}

.dropdownButton {
	transition: 300ms ease-in-out;
	margin: auto;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #245E6F;
    text-decoration: none;
    background-color: #f8f9fa;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #EC791C;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}


a:hover {
    text-decoration: none;
    color: #2B6777;
}

.title {
    padding-top: 0px;
    font-size: 5rem;
    color: #003F5A;
}
/* coming soon */
.titleComingSoon {
    top: 0px;
    font-size: 4rem;
    color: #003F5A;
    margin-top: 10vh; 
    font-weight: normal;
    width: 50%;
    padding-left: 0px;
    animation: fadeInAnimation ease 2s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}
.comingsoonmessagediv{
    margin-left: 3vw;
    margin-top: 6vh;
}
.comingsoonmessage{
    text-transform: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: normal;
    color: #C14F16;
    font-size: 1.7rem;
    width: 40%;
    margin: auto;
    margin-right: 5vw;
    animation: fadeInAnimation ease 2s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}
.margin-upComingSoon{
    /* position: absolute; */
    margin-top: 18vh;
    margin-left: 10vw;
    right: 0;
}
.margin-handComingSoon{
    /* position: absolute; */
    margin-left: 10vw;
    right: 4vw;
    max-width: 34vh;
    height: auto;
}

/* keyframe coming soon */
.box {
	display: inline-block;
	position: absolute;
}

.one {
	animation: animacao_1;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	display: relative;
}

@keyframes animacao_1{
	0%{
		bottom: 37%;
	}
	50%{
		bottom: 35%;
	}
	100%{
		bottom: 37%;

	}
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

/* web utama */

.jumbotron {
    padding: 0rem 1rem;
    margin-bottom: 2rem;
    background-color: unset;
}

.logonav-size {
    height: auto;
    width: 42px;
}

.logohome-size {
    height: auto;
    width: 200px;
}

.description {
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    /* line-height: 29px; */
    text-align: justify;
    color: #2B6777;
}

.description-service {
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    text-align: justify;
    /* margin-top: 20px; */
    margin-bottom: 11%;
    color: #2B6777;
}

.db {
    font-weight: bold;
}

/* error button */
.errorButton{
    background-color: #F9F9F9;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 22.5px;
    padding-top: 3px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 10px;
    transition: 0.3s;
}

.errorButton:hover{
    box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.05);
}



.borderslide {
    border-radius: 60px;
    background-color: red;
}

.slidesize {
    height: 18.75rem;
}

.carousel {
    position: relative;
    margin-bottom: 8vh;
}


/* card thing */


/* Lazy Load Styles */

.cardAboutUseful {
    /* background-image: ; */
    background: url('../asset/useful.png'), #FFFFFF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 540px;
    padding: 30px;
}
.cardAboutInnovative {
    /* background-image: ; */
    background: url('../asset/innovative.png'), #FFFFFF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 540px;
    padding: 30px;
}
.cardAboutGrow {
    /* background-image: ; */
    background: url('../asset/grow.png'), #FFFFFF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 540px;
    padding: 30px;
}
.cardTextAbout {
    color: #003F5A;
    text-decoration: none;
    /* position: absolute; */
    margin-top: 300px;
    text-align: left !important;
}

.cardTextAbout>p {
    text-align: left;
    font-weight: normal;
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
}

.cardTextAbout>h2 {
    text-align: left !important;
}

.card-image {
    display: block;
    margin-top: 30px;
    min-height: 9rem;
    /* layout hack */
    background: rgba(0, 0, 0, 0) center center no-repeat;
    background-size: 8rem;
}

.card-image>img {
    display: block;
    width: 100%;
    opacity: 0;
    /* visually hide the img element */
}

.card-image.is-loaded {
    filter: none;
    /* remove the blur on fullres image */
    transition: filter 1s;
}


/* Layout Styles */

.card-list {
    display: block;
    margin: 1rem auto;
    padding: 0;
    font-size: 0;
    text-align: center;
    list-style: none;
}

.card {
    display: inline-block;
    /* width: 100%; */
    min-width: 250px;
    /* max-height: 28.125rem; */
    max-height: 500px;
    margin: 15px;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    /* box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5); */
    box-shadow: -10px -10px 15px #FFFFFF, 5px 5px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s;
    color: #003F5A;
    border-radius: 60px;
    background-color: #F9F9F9;
    padding: 30px;
}

.card h2 {
    text-align: center;
    margin: 30px 0px;
}

.card p {
    margin: 0;
    text-align: justify;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
}

.card:hover {
    /* transform: translateY(-0.5rem) scale(1.0125); */
    /* box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5); */
    box-shadow: -5px -5px 10px #FFFFFF, 2px 2px 10px rgba(0, 0, 0, 0.1);
    transform: scale(0.98);
}

.card-image:hover {
    color: #003F5A;
}

h2 {
    text-transform: none;
    margin: 0 0 0em;
    font-family: 'Jost', sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #003F5A;
    margin-bottom: 15px;
}


/* hover thing */

#hoverA {
    display: flex;
    flex-flow: column;
    max-width: 100%;
    opacity: 0.95;
    padding: 15px 30px;
    margin: 0 auto 30px;
}

#hoverA .hoverA {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0 45px;
    width: 150px;
}

#hoverA .hoverA .hover {
    font-size: 36px;
    margin: 0 auto;
    padding: 0;
    transition: all 0.2s ease-in-out;
    position: relative;
}

#hoverA .hoverA .hover:before,
#hoverA .hoverA .hover:after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0px;
    height: 5px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.5s;
    opacity: 0;
    background-color: #e69500;
}

#hoverA .hoverA .hover.hover-1:before,
#hoverA .hoverA .hover.hover-1:after {
    left: 0;
}

#hoverA .hoverA .hover.hover-2:before,
#hoverA .hoverA .hover.hover-2:after {
    right: 0;
}

#hoverA .hoverA .hover.hover-3:before {
    left: 50%;
}

#hoverA .hoverA .hover.hover-3:after {
    right: 50%;
}

#hoverA .hoverA .hover.hover-4:before {
    left: 0;
}

#hoverA .hoverA .hover.hover-4:after {
    right: 0;
}

#hoverA .hoverA:hover {
    cursor: pointer;
}

#hoverA .hoverA:hover .hover:before,
#hoverA .hoverA:hover .hover:after {
    width: 100%;
    opacity: 1;
}

#hoverA .hoverA:hover .hover.hover-3:before,
#hoverA .hoverA:hover .hover.hover-3:after,
#hoverA .hoverA:hover .hover.hover-4:before,
#hoverA .hoverA:hover .hover.hover-4:after {
    width: 50%;
}


/* about us css */

.aboutusjumbotron {
    padding: 3rem 2rem 7rem 2rem;
    background-color: unset;
}

.logohome-size-aboutus {
    height: auto;
    width: 100%;
}

.aboutusheader {
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 77px;
    /* identical to box height */
    color: #EC791C;
}

.db {
    font-weight: bold;
}

.aboutusheadercore {
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 2.6rem;
    line-height: 77px;
    /* identical to box height */
    text-align: center;
    color: #EC791C;
}

.pic_contain {
    overflow: hidden;
    height: 240px;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 30px;
    object-fit: cover;
}

.pic_contain img {
    width: 100%; min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

/* service css */

.containerservice {
    padding: 4rem 5rem 0rem 5rem;
}

.servicejumbotron {
    padding: 0rem 2rem 7rem 2rem;
    background-color: unset;
}

.jumbo-height {
    height: 50px;
}

.show-mobile {display: none;}
.show-web {display: block;}

.descRow {
    overflow-x: scroll;
    flex-wrap: wrap;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.descRow::-webkit-scrollbar {
    display: none;
}

.xsnap {
    scroll-snap-type: x mandatory;
}

.xsnap .col {
    scroll-snap-align: start;
}

.box-tulisan-404{
    margin-top: 200px;
    margin-left: 210px;
    width: 609px;
    height: 208px;
    left: 208px;
    top: 311px;
}

.tulisan-404{
    font-size: 72px;
    font-weight: bold;
    color: #003F5A;
}

.button-back{
    margin-top: 60px;
    margin-left: 210px;
}

@media screen and (max-width: 1920px) {
    .jumbo-height {
        height: 150px;
    }
}

@media screen and (max-width: 768px){
    /* mobile comingsoon */
	.one{
		left: 20%; 
    }
    .backgroundComingSoon {
        background-image: url('../asset/Swoosh_2.svg'), url('../asset/comingSoon/hand.png'), url('../asset/comingSoon/coming_soon_illus.png');
        background-size: 33rem, 15rem, 40rem;
        background-position: 0 66vh, 90% 8vh, right top;
        background-repeat: no-repeat, no-repeat, no-repeat;
        overflow: visible;
    } 
    .background404 {
        background-color: #FCC14D;
        background-image: url('../asset/Swoosh_2.svg'),  url('../asset/Swoosh_1.svg'), url('../asset/lost_1.svg');
        background-size: 43rem, 29rem, 13rem;
        background-position: 0px 27vh, 51vw 2vh, 3vh 45vh;
        background-repeat: no-repeat, no-repeat, no-repeat;
    }
    .box-tulisan-404{
        margin-top: 11vh;
        margin-left: 11vw;
    }
    .button-back {
        margin-top: 5vh;
        margin-left: 11vw;
    }
    .titleComingSoon {
        font-size: 4rem;
        width: 70%;
        margin: auto;
        margin-top: 51vh; 
        padding-left: 8%;
    }
    .comingsoonmessage{
        font-size: 1.7rem;
        width: 100%;
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-right: 5vw;
    }
    .margin-upComingSoon{
        /* position: absolute; */
        margin-top: 18vh;
        margin-left: 0;
        right: auto;
    }
    .comingsoonmessagediv{
        margin: 0;
        width: 84%;
        margin: auto;
        margin-top: 70vh;
    }
    .margin-handComingSoon{
        visibility: hidden;
    }
}

.serviceLastCard {
    width: 0px;
    display: none;
}

.phil-pic {
    text-align: left;
}

@media screen and (max-width: 480px){
    /* mobile comingsoon */

    /* .container {
        min-height: 100%;
        padding-bottom: 580px;
    } */

	.line{
		width: 30px;
		height: 3px;
		background: #4D6782;
		margin: 5px;
	}
	
	nav {
		position:sticky;
		top:0;
		height: 60px !important;
		/* width: 100vw !important; */
	}

	.navi {
		height: 60px;
	}
	
	.hamburger {
		position: absolute;
		display: block;
		cursor: pointer;
		right: 15px;
		top: 50%;
		transform : translate(-15px, -50%);
		z-index:2;
	}
	
	.nav-links{
		background: #F7F7F7;
		height:160px;
		flex-direction: column;
		clip-path : circle(100px at 50% -75%);
		-webkit-clip-path: circle(100px at 50% -75%);
        transition: all 300ms ease-in-out;
        padding: 0;
        margin-top: 70px;
		padding-top: -60px;
		padding-bottom: 30px;
		justify-content: space-around;
	}
	
	.nav-links.open{
		clip-path : circle(700px at 50% 50%);
		-webkit-clip-path: circle(700px at 50% 50%);
		box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.logo_mobile {display: block;}

    .logo_pc {display: none;}
    
    .footer {
        background-size: auto 200px, 150% auto;
        background-position: 0 0, -10% 100%;
        /* height: 580px;
        margin-top: -580px; */
    }

    .footer * .col-md {
        padding: 30px;
    }

    .background {
        background-size: 50rem, 20rem, 70rem;
    }
    
    .backgroundAboutUs {
        background-size: 50rem, 19rem, 70rem;
        background-position: -8vw -3vh, 150% 80px, right 180vh;
    }
    
    .backgroundKonveksi {
        background-size: 43rem, 19rem, 60rem;
        background-position: 0 27vh, 150% 80px, right 135vh;
    }
    
    .backgroundCatering {
        background-size: 43rem, 19rem, 60rem;
        background-position: 0 27vh, 150% 80px, right 135vh;
    }
    
    .backgroundLogistics {
        background-size: 43rem, 19rem, 60rem;
        background-position: 0 27vh, 150% 80px, right 135vh;
    }
    
    .backgroundLaundry {
        background-size: 43rem, 19rem, 60rem;
        background-position: 0 27vh, 150% 80px, right 135vh;
    }
    
    .backgroundSouvenir {
        background-size: 43rem, 19rem, 60rem;
        background-position: 0 27vh, 150% 80px, right 135vh;
    }

    .title {
        padding-top: 90px;
        font-size: 3rem;
    }
    .show-mobile {display: block;}
    .show-web {display: none;}
    .descRow {
        overflow-x: scroll;
        flex-wrap: nowrap;
    }

    .phil-pic {
        text-align: center;
    }

    .jumbo-height {
        height: 0px;
    }

    .serviceLastCard {
        width: 150px;
        display: block;
    }

    .card {
        margin-right: 1rem;
    }

	.one{
		left: 20%; 
    }
    .backgroundComingSoon {
        background-image: url('../asset/Swoosh_2.svg'), url('../asset/comingSoon/hand.png'), url('../asset/comingSoon/coming_soon_illus.png');
        background-size: 24rem, 8rem, 19rem;
        background-position: -18vw 25vh, 95% 8vh, right top;
        background-repeat: no-repeat, no-repeat, no-repeat;
        overflow: visible;
    } 
    .titleComingSoon {
        font-size: 2.6rem;
        width: 86%;
        margin: auto;
        margin-top: 35vh;
        padding-left: 6%;
    }
    .comingsoonmessage{
        font-size: 1.2rem;
        width: 100%;
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-right: 5vw;
    }
    .margin-upComingSoon{
        /* position: absolute; */
        margin-top: 18vh;
        margin-left: 0;
        right: auto;
    }
    .comingsoonmessagediv{
        margin: 0;
        width: 85%;
        margin: auto;
        margin-top: 32vh;
    }
    .margin-handComingSoon{
        visibility: hidden;
    }
    .box-tulisan-404{
        margin-top: 12px;
        margin-left: 20px;
        width: 360px;
        height: 50px;
    }
    
    .tulisan-404{
        font-size: 60px;
        font-weight: bold;
        color: #003F5A;
    }
    
    .button-back{
        margin-top: 250px;
        margin-left: 20px;
    }
    
    .background404 {
        background-color: #FCC14D;
        background-image: url('../asset/lost_1.svg'), url('../asset/Swoosh_2.svg');
        background-size:  16rem, 43rem;
        background-position:  2vh 43vh, 0 0vh;
        background-repeat: no-repeat, no-repeat;
    }

    .backgroundAboutUs {
        background-image: url('../asset/Logo_White_Emboss.svg'), url('../asset/Swoosh_2.svg'), url('../asset/Swoosh_1.svg');
        background-size: 30rem, 50rem,70rem;
        background-position: 0vw 8vh, -8vw 45vh, right 180vh;
        background-repeat: no-repeat, no-repeat, no-repeat;
    }
    .aboutusheader {
        font-family: Jost;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 77px;
        /* identical to box height */
        color: #EC791C;
        padding-top: 35px;
    }
    #hoverA {
        display: flex;
        flex-flow: column;
        max-width: 100%;
        opacity: 0.95;
        padding: 0;
        margin: 0;
    }
    #carouselExampleIndicators{
        display: none;
    }
}
@media screen and (max-height: 600px){    
    .background404 {
        background-color: #FCC14D;
        background-image: url('../asset/lost_1.svg'), url('../asset/Swoosh_2.svg');
        background-size:  16rem, 43rem;
        background-position:  2vh 50vh, 0 0vh;
        background-repeat: no-repeat, no-repeat;
    }
}